/* Font import and general page setup */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

body {
    margin: 0;
    box-sizing: border-box;
}

/* Main container */
.container {
    background-color: #55423d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Title section */
.title {
    color: #fffffe;
    margin: 3rem 0;
}

.title h1{
    font-size: 3rem;
    margin: 0;
}

.title p{
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
    text-align: center;
}

/* Rock Paper Scissors choice buttons section */
#choices button {    
    background-color: #ffc0ad;
    border: 5px solid #271c19;
    color: #271c19;
    padding: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
}

#choices button i {
    font-size: 8rem;
}

#choices button p {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    margin: 0.5rem 0 0 0;
}

#choices button:hover {
    background-color: #aa7f72;
    color: #fffffe;
    border-color: #fffffe;
}

.choice {
    padding: 1rem;
    margin: 0 1rem;
}

/* Display section */
#display {
    width: 70rem;
    height: 40rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff3ec;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    color: #271c19;
    font-size: 2rem;
    margin: 3rem 0;   
}

.display-choice, .display-results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.display-results {
    width: 30rem;
    margin: 1rem 2rem;  
    padding: 1rem;
}

.display-choice {
    border-radius: 1rem;
    margin: 1rem;    
    padding: 1rem;
    width:10rem;
    background-color: #e78fb3;
}

.display-choice i {
    color: #271c19;
    font-size: 5rem;
}

.display-counter-title {
    font-size: 1.5rem;
}

#round-display {
    margin-top: 2rem;
    text-align: center;
}

#winner-display {
    margin-bottom: 2.5rem;
    font-weight: 700;
    font-size: 3rem;
    color: #9656a1;
    text-align: center;
}
